.aboutMe {
  padding: 20% 0;
  display: flex;
  align-items: center;
  justify-content: center;

  &__block {
    position: relative;
  }

  @media (max-width: 1440px) and (max-height: 900px) {
    padding: 25% 0;
  }

  @media (max-width: 1024px) and (max-height: 768px) {
    padding: 30% 0;
  }

  &__logo-1 {
    position: absolute;
    border-radius: 100px;
    left: -40px;
    top: -40px;

    @media (max-width: 1440px) {
      width: 70px;
      height: 70px;
      left: -35px;
      top: -35px;
    }

    @media (max-width: 1024px) {
      width: 60px;
      height: 60px;
      left: -30px;
      top: -30px;
    }

    @media (max-width: 925px) {
      display: none;
    }
  }

  &__logo-2 {
    position: absolute;
    border-radius: 100px;
    right: -40px;
    bottom: -40px;

    @media (max-width: 1440px) {
      width: 70px;
      height: 70px;
      right: -35px;
      bottom: -35px;
    }

    @media (max-width: 1024px) {
      width: 60px;
      height: 60px;
      right: -30px;
      bottom: -30px;
    }

    @media (max-width: 925px) {
      display: none;
    }
  }

  &__content {
    padding: 40px;
    border: 5px solid #FFA600;
    border-radius: 10px;
    background: white;

    @media (max-width: 1600px) and (max-height: 900px) {
      padding: 25px;
    }

    @media (max-width: 925px) {
      padding: 20px;
    }

    &-area {
      &-text {
        &-block_bio {
          display: flex;
          align-items: center;

          &-bio {
            font-weight: bold;
            font-size: 36px;
            margin-bottom: 15px;

            @media (max-width: 1440px) {
              font-size: 32px;
              margin-bottom: 10px;
            }

            @media (max-width: 1024px) {
              font-size: 30px;
              margin-bottom: 9px;
            }

            @media (max-width: 925px) {
              font-size: 28px;
              margin-bottom: 8px;
            }
          }

          &-swipe {
            width: 100%;
            opacity: 0.5;
            transition: opacity 1s ease-in-out;

            &:hover{
              opacity: 1;
            }

            &-text {
              font-size: 10px;

              @media (max-width: 375px) {
                font-size: 8px;
              }
            }

            &-arrow {
              margin-left: 5px;
              animation-name: arrow;
              animation-duration: 1.5s;
              animation-iteration-count: infinite;
              animation-direction: alternate;
              animation-timing-function: linear;
            }

            @media (min-width: 701px) {
              display: none;
            }

            @media (max-width: 700px) {
              display: flex;
              justify-content: center;
              align-items: center;
            }

            @keyframes arrow {
              0%{
                opacity: 0.1;
              }
              100%{
                opacity: 1;
              }
            }
          }
        }

        &-aBitMore {
          font-size: 18px;
          margin-bottom: 15px;

          @media (max-width: 1440px) {
            font-size: 16px;
            margin-bottom: 14px;
          }

          @media (max-width: 1024px) {
            font-size: 14px;
            margin-bottom: 13px;
          }

          @media (max-width: 925px) {
            font-size: 12px;
            margin-bottom: 12px;
          }
        }

        &-grid {
          columns: 2;
          @media (max-width: 700px) {
            columns: 1;
            height: 600px;
            overflow-x: scroll;
            overflow-y: hidden;
          }
        }

        &-divider {
          margin: 0 23px;
          width: 1px;
          background: black;

          @media (max-width: 1440px) {
            margin: 0 20px;
          }

          @media (max-width: 1024px) {
            margin: 0 10px;
          }
        }

        &-block {
          break-inside: avoid;

          &-item {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 15px;
            width: 385px;

            &:last-child {
              margin: 0;
            }

            @media (max-width: 1440px) {
              margin-bottom: 10px;
            }

            @media (max-width: 1024px) {
              margin-bottom: 5px;
            }

            @media (max-width: 925px) {
              width: 315px;
            }

            @media (max-width: 375px) {
              width: 265px;
            }

            &-year {
              text-align: center;
              margin-right: 15px;
              line-height: 15px;
              font-size: 18px;

              @media (max-width: 1440px) {
                font-size: 16px;
              }

              @media (max-width: 1024px) {
                font-size: 14px;
              }
            }

            &-story {
              text-align: justify;
              font-size: 18px;
              line-height: 18px;
              width: 385px;

              @media (max-width: 1600px) and (max-height: 900px) {
                font-size: 16px;
                line-height: 15px;
              }

              @media (max-width: 1440px) {
                font-size: 16px;
              }

              @media (max-width: 1024px) {
                font-size: 14px;
              }

              &-italic {
                color: #D60000;
                font-weight: bold;
              }
            }
          }

          &-social {
            border: dashed black;
            border-width: 1px 0;
            padding: 28px 0;

            display: flex;
            flex-direction: column;
            align-items: center;

            @media (max-width: 1440px) {
              padding: 20px 0;
            }

            @media (max-width: 1024px) {
              padding: 12px 0;
            }

            &-img {
              width: 24px;
              height: 24px;
              margin-right: 15px;

              @media (max-width: 1440px) {
                width: 20px;
                height: 20px;
                margin-right: 13px;
              }

              @media (max-width: 1024px) {
                width: 15px;
                height: 15px;
                margin-right: 10px;
              }
            }

            &-link {
              color: black;

              @media (max-width: 1440px) {
                font-size: 15px;
              }

              @media (max-width: 1024px) {
                font-size: 13px;
              }

              &:active {
                color: #D60000;
              }
            }

            &-github {
              display: flex;
              flex-direction: row;
              align-items: center;
              margin-bottom: 20px;

              @media (max-width: 1440px) {
                margin-bottom: 15px;
              }

              @media (max-width: 1024px) {
                margin-bottom: 15px;
              }
            }

            &-hh {
              display: flex;
              flex-direction: row;
              align-items: center;
              margin-bottom: 20px;

              @media (max-width: 1440px) {
                margin-bottom: 15px;
              }

              @media (max-width: 1024px) {
                margin-bottom: 15px;
              }
            }

            &-codewars {
              display: flex;
              flex-direction: row;
              align-items: center;
              margin-bottom: 20px;

              @media (max-width: 1440px) {
                margin-bottom: 15px;
              }

              @media (max-width: 1024px) {
                margin-bottom: 15px;
              }
            }

            &-vk {
              display: flex;
              flex-direction: row;
              align-items: center;
              margin-bottom: 20px;

              @media (max-width: 1440px) {
                margin-bottom: 15px;
              }

              @media (max-width: 1024px) {
                margin-bottom: 15px;
              }
            }

            &-stackoverflow {
              display: flex;
              flex-direction: row;
              align-items: center;
            }
          }
        }
      }
    }
  }
}